
.search-bar {
  height: 44px;
  width: 200px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  padding: 0 0 0 20px;
  position: relative;
  background: #80808080;
  margin-top:20px;
}


.input {
  border: none;
  height: 25px;
  width: 150px;
  color: white;
  background:transparent;
  font-size: 15px;
  outline: none;
}

.input:not(:placeholder-shown) + .label {
  font-size: 9px;
  top: 3px;
  color: white;
}

.input:focus ~ .label {
  font-size: 9px;
  top: 3px;
  color: #80808080;
  transition: all 0.5s ease;
}

.label {
  color: white;
  position: absolute;
  top: 13px;
  pointer-events: none;
  transition: all 0.5s ease;
}

.search-btn {
  background: #FDBE34;
  border-radius: 20px;
  height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  justify-content: center;
  cursor: pointer;
  right: 2px;
  position: absolute;
  transition: all 1s ease;
}
.search-btn:hover{
   background: black;
   transition: all 1s ease;
}
.icon {
  display: inline-flex;
}

.icon-18 {
  width: 18px;
  height: 18px;
}

.highlight {
  width: 0px;
  height: 1px;
  background:#FDBE34;
  position: absolute;
  bottom: 8px;
  transition: all 1s ease;
}

.input:focus ~ .highlight {
  width: 150px;
  transition: all 1s ease;
}