article
{
  margin-top: 3em;
  text-align: center;
}
#all
{
  
}
#popup
{
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  display: none;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: all 1s;
  z-index: 9999;
}
#popup p
{
  background-color: #333;
  color: #ccc;
  height: 200px;
  margin: 2em auto;
  width: 200px;
}